.border {
    border: 3px solid tomato;
    padding: 5px;
    border-radius: 3px;
    box-shadow:  0 0 5px tomato;
    background-color: #444444;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.nav {
    margin-bottom: 15px;
}

.nav a{
    background-color: bisque;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding:5px 20px;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: auto auto ;
}

.d {
    grid-column: 1;
    grid-row: 1;
}

.e {
    grid-column: 1;
    grid-row: 2;
}

.b {
    grid-column: 2;
    grid-row: 2;
}

.f {
    grid-column: 3;
    grid-row: 1;
}