.container {
    display: grid;
    gap: 24px;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto auto auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "sidebar"
    "ads"
    "footer"
    ;
}

.border {
    border: 3px solid tomato;
    padding: 5px;
    border-radius: 3px;
    box-shadow:  0 0 5px tomato;
}

.nav a{
    background-color: bisque;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding:5px 20px;
}

.nav {
    margin-bottom: 15px;
}

.header {
    grid-area: header;
}

.navigation {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.ads {
    grid-area: ads;
}

.footer {
    grid-area: footer;
}


@media (min-width:720px) {
    .container {
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "sidebar main main"
        "ads footer footer"
        ;
    }
}


@media (min-width:1020px) {
    .container {
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
        "header header header header"
        "sidebar nav nav ads"
        "sidebar main main ads"
        "footer footer footer footer"
        ;
    }
}
